body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

.center-element {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.right-element {
  display: flex;
  justify-content: right;
  padding: 20px;
  margin-bottom: 20px;
}

.components-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.component-row {
  display: grid;
  width: auto;
  grid-template-columns: 200px 1fr 120px 120px;
  gap: 55px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  align-items: center;
}

.grid-text {
  align-self: center;
}

.component-actions {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
}

.buttons-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

button {
  width: 200px;
  padding: 12px;
  font-size: 18px;
  background-color: #444;
  color: white;
  border: 2px solid #666;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #555;
}
